@{
    ViewBag.Title = "Contact";
}
<h2>Contato.</h2>


<address>
   Cidade: Salvador, Bahia.
   <br />
    Tel.:71 xxxxxxx
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:britomarina8@gmail.com">britomarina8@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:britomarina8@gmail.com">britomarina8@gmail.com</a>
</address>